body {
	width: 100%;
	background: #193263;
	position: relative;
	font-family: roboto, sans-serif;
}

.video-card-container {
	position: relative;
	width: 92%;
	margin: auto;
	height: 10vw;
	display: flex;
	marign-bottom: 20px;
	justify-content: space-between;
}

.video-card {
	position: relative;
	min-width: calc(100%/5 -10px);
	width: calc(100%/5-10px);
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	background: #030b17;
}

.video-card-image, .card-video {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.card-video {
	position: absolute;
}

.title {
	color: #fff;
	opacity: 0.9;
	padding-left: 4%;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 500;
}

.centered-position {
	position: absolute;
	top: 180px;
	/*left: 550px; para 1080p*/
	left: 250px;
}

.posicion-boton {
	position: absolute;
	top:750px;
	/*left:1150px; para 1080p*/
	left:580px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.text {
	color: white;
}

textarea {
	resize: none;
}

label {
    vertical-align: top;
}
